html {
  height: 100%;
  position: relative;
}

body {
  background-color: #333;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

.color {
  cursor: pointer;
  height: 100vh;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.giant-title {
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: 0;
 }
.big-font { font-size: 1rem; }

@media only screen and (min-width : 30rem) {
  .giant-title { font-size: 2rem }
  .big-font { font-size: 1rem; }
}

@media only screen and (min-width: 48rem) {
  .giant-title {
    font-size: 3rem;
    padding: 3rem 0;
 }
  .big-font { font-size: 1.25rem; }
}

@media only screen and (min-width: 60rem) {
  .giant-title {
    font-size: 10rem;
    padding: 4rem 0;
  }
  .big-font { font-size: 1.5rem; }
}

@media only screen and (min-width: 80rem) {
  .giant-title { font-size: 12rem }
  .big-font { font-size: 1.75rem; }
}

.toward-bottom {
  bottom: 10vh;
}

.mousedown {
  opacity: 0.35;
}

.clicked-message {
  background-color: #333;
  border-radius: 15px;
  bottom: 5vh;
  color: white;
  display: inline-block;
  font-size: 2rem;
  height: 2.2rem;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  right: 5vw;
  visibility: hidden;

  transition: visibility 0.15s ease, opacity 0.15s ease;
}

.clicked-message.on {
  opacity: 1;
  visibility: visible;
}
